Repository Blazity/next-cwv-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm -r run --no-bail format:check

lint:
  run: pnpm -r run --no-bail lint

fix: build monitor app images on release
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

fix: lint
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

fix: build
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
Due: format, lint

fix: code rabbit findings
  apps/monitor-app/scripts/seed-demo-data.mjs
Due: format

chore: add performance guardrails test for monitor app
  .github/workflows/check.yml
  apps/monitor-app/eslint.config.mjs
  apps/monitor-app/package.json
  apps/monitor-app/src/test/performance-guardrails.test.ts
  apps/monitor-app/vitest.performance.config.ts
Due: format, lint

fix: Coderabbit findings
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

fix: adjust performance test budgets
  apps/monitor-app/src/test/performance-guardrails.test.ts
Due: format, lint

feat: add check of length in recharts tooltip
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

fix: Coderabbit proposal
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

fix: build monitor app images on release (#94)
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

chore: create custom GitHub releases for sdk and app
  .github/workflows/create-github-release.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

chore: use descriptive GitHub release titles
  .github/workflows/create-github-release.yml
Due: none

chore: GitHub releases for sdk and app (#96)
  .github/workflows/create-github-release.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
Due: none

fix: repair changelog extraction in release workflow
  .github/workflows/create-github-release.yml
Due: none

fix: repair changelog extraction in release workflow (#97)
  .github/workflows/create-github-release.yml
Due: none

feat: update DataRefreshControl io
  apps/monitor-app/src/components/dashboard/data-refresh-control.tsx
Due: format, lint

feat: remove gray background in autorefresh
  apps/monitor-app/src/components/dashboard/data-refresh-control.tsx
Due: format, lint

fix: add hour granularity to the week view
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

feat: enhance dashboard with granularity support and time range adjustments
  apps/monitor-app/scripts/seed-demo-data.mjs
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/lib/search-params.ts
  apps/monitor-app/src/lib/utils.ts
Due: format, lint

feat: refine metrics as search param
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/components/dashboard/metric-selector.tsx
  apps/monitor-app/src/components/dashboard/quick-stats.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/components/dashboard/worst-routes-by-metric.tsx
  apps/monitor-app/src/components/events/analytics-tab.tsx
  apps/monitor-app/src/lib/search-params.ts
  apps/monitor-app/src/stories/dashboard/quick-stats.stories.ts
Due: format, lint

feat: add Vercel deployment guide and one-click deploy button
  DEPLOYMENT.md
  README.md
  apps/client-app/vercel.json
  apps/monitor-app/vercel.json
  vercel.json
Due: format

Update DEPLOYMENT.md
  DEPLOYMENT.md
Due: format

Update vercel.json
  vercel.json
Due: format

Update README.md
  README.md
Due: format

fix: fix tests, remove unused files
  apps/monitor-app/src/app/server/actions/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/components/events/analytics-chart.tsx
  apps/monitor-app/src/lib/time-range.ts
Due: format, lint

fix: fix chart tooltip, events selector
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/events/analytics-select-event.tsx
  apps/monitor-app/src/components/events/analytics-tab.tsx
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md,mjs}
  lint: any of: *.{js,jsx,ts,tsx}
