Repository Blazity/next-cwv-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm -r run --no-bail format:check

lint:
  run: pnpm -r run --no-bail lint

fix: key overlays in chart by id, not label
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

chore: add changeset
  .changeset/add-time-series-multi-overlays.md
Due: format

chore: add changeset
  .changeset/add-range-draw-for-time-series-charts.md
Due: format

fix: improve countdown formatting for singular minute case
  apps/monitor-app/src/lib/format-countdown.ts
Due: format, lint

fix: standardize partial data notice formatting in charts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/events/analytics-chart.tsx
Due: format, lint

chore: fix publish workflow
  .github/workflows/docker-publish.yml
Due: none

feat: move users link to user actions (#105)
  .changeset/move-users-link-to-user-actions.md
  apps/monitor-app/src/components/dashboard/mobile-sheet.tsx
  apps/monitor-app/src/components/dashboard/navbar.tsx
  apps/monitor-app/src/components/dashboard/user-actions-mobile.tsx
  apps/monitor-app/src/components/dashboard/user-dropdown.tsx
Due: format, lint

fix: remove domain overflow in projects (#106)
  .changeset/fix-project-card-text-overflow.md
  apps/monitor-app/src/components/projects/projects-list.tsx
Due: format, lint

feat: remove changeset
  .changeset/add-toast-message-on-subscribe.md
Due: format

feat: normalize event name to be lowercase
  apps/client-app/src/components/app-router/subscribe-button.tsx
  apps/client-app/src/components/pages-router/subscribe-button.tsx
Due: format, lint

feat: normalize event name to be lowercase (#112)
  apps/client-app/src/components/app-router/subscribe-button.tsx
  apps/client-app/src/components/pages-router/subscribe-button.tsx
Due: format, lint

feat: add toast message on subscribe (#107)
  .github/workflows/check.yml
  apps/client-app/package.json
  apps/client-app/src/app/blog/[slug]/page.tsx
  apps/client-app/src/app/blog/page.tsx
  apps/client-app/src/app/layout.tsx
  apps/client-app/src/app/page.tsx
  apps/client-app/src/components/app-router/subscribe-button.tsx
  apps/client-app/src/components/pages-router/subscribe-button.tsx
  apps/client-app/src/pages/_app.tsx
  apps/client-app/src/pages/pages-router/blog/[slug].tsx
  apps/client-app/src/pages/pages-router/blog/index.tsx
  apps/client-app/src/pages/pages-router/index.tsx
  pnpm-lock.yaml
Due: format, lint

fix: normalize custom event names to lowercase
  apps/monitor-app/src/app/api/ingest/ingest.integration.test.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/domain/dashboard/routes/overlay/mappers.ts
  apps/monitor-app/src/app/server/domain/ingest/service.ts
Due: format, lint

chore: add changeset for normalizing custom event names to lowercase
  .changeset/fifty-pigs-doubt.md
Due: format

refactor: use toSorted() for event name extraction in integration test
  apps/monitor-app/src/app/api/ingest/ingest.integration.test.ts
Due: format, lint

fix: normalize custom event names to lowercase (#113)
  .changeset/fifty-pigs-doubt.md
  apps/monitor-app/src/app/api/ingest/ingest.integration.test.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/domain/dashboard/routes/overlay/mappers.ts
  apps/monitor-app/src/app/server/domain/ingest/service.ts
Due: format, lint

fix: update changeset project name from "next-cwv-monitor" to "cwv-monitor-app"
  .changeset/fifty-pigs-doubt.md
Due: format

fix: update changeset project name from "next-cwv-monitor" to "cwv-monitor-app" (#114)
  .changeset/fifty-pigs-doubt.md
Due: format

feat: simplify auto-refresh countdown formatting (#109)
  .changeset/change-auto-refresh-formatting.md
  apps/monitor-app/src/lib/format-countdown.ts
Due: format, lint

refactor: dry up dashboard service
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/lib/cache.ts
Due: format, lint

feat: enhance charts with partial data handling and improved tooltip formatting
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/components/events/analytics-chart.tsx
Due: format, lint

fix: merge conflicts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
Due: format, lint

chore: upgrade node version tu current LTS
  .changeset/witty-buses-cheer.md
  .github/workflows/check.yml
  .github/workflows/release.yml
  .nvmrc
  apps/client-app/package.json
  apps/monitor-app/package.json
  docker/docker-compose.dev.yml
  docker/migrations.Dockerfile
  docker/monitor-app.dev.Dockerfile
  docker/monitor-app.prod.Dockerfile
  docker/seed-demo.Dockerfile
  package.json
  packages/client-sdk/package.json
  pnpm-lock.yaml
Due: format

chore: upgrade node version to current LTS (#115)
  .changeset/witty-buses-cheer.md
  .github/workflows/check.yml
  .github/workflows/release.yml
  .nvmrc
  apps/client-app/package.json
  apps/monitor-app/package.json
  docker/docker-compose.dev.yml
  docker/migrations.Dockerfile
  docker/monitor-app.dev.Dockerfile
  docker/monitor-app.prod.Dockerfile
  docker/seed-demo.Dockerfile
  package.json
  packages/client-sdk/package.json
  pnpm-lock.yaml
Due: format

feat: update changeset
  .changeset/display-incomplete-data-indicator.md
Due: format

feat: add incomplete data indicator to charts (#110)
  .changeset/display-incomplete-data-indicator.md
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
Due: format, lint

feat: add chart scaling on drawing time area (#108)
  .changeset/add-range-draw-for-time-series-charts.md
  .vscode/settings.json
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/events/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/types.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/lib/cache.ts
  apps/monitor-app/src/lib/search-params.ts
  apps/monitor-app/src/lib/utils.ts
Due: format, lint

feat: add anomaly detection logic and a test for it
  apps/monitor-app/.env.ci
  apps/monitor-app/.env.example
  apps/monitor-app/.env.test
  apps/monitor-app/clickhouse/migrations/007_anomaly_detection.sql
  apps/monitor-app/package.json
  apps/monitor-app/scripts/seed-demo-data.mjs
  apps/monitor-app/src/app/server/lib/clickhouse/bootstrap.ts
  apps/monitor-app/src/env.ts
  apps/monitor-app/src/instrumentation.ts
  apps/monitor-app/src/test/anomaly-detection.test.ts
  apps/monitor-app/src/test/clickhouse-test-utils.ts
  apps/monitor-app/src/test/performance-guardrails.test.ts
  apps/monitor-app/vitest.anomaly.config.ts
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/monitor-app.prod.Dockerfile
  setup.sh
Due: format, lint

feat: improve anomaly detection with lognormal dist
  .github/workflows/check.yml
  apps/monitor-app/clickhouse/migrations/007_anomaly_detection.sql
  apps/monitor-app/scripts/seed-demo-data.mjs
  apps/monitor-app/src/app/server/lib/clickhouse/bootstrap.ts
  apps/monitor-app/src/test/anomaly-detection.test.ts
  apps/monitor-app/src/test/clickhouse-test-utils.ts
  docker/docker-compose.yml
Due: format, lint

fix: apply coderabbit suggestions
  apps/monitor-app/clickhouse/migrations/007_anomaly_detection.sql
  apps/monitor-app/scripts/seed-demo-data.mjs
  apps/monitor-app/src/env.ts
Due: format, lint

feat: add base agent
  apps/monitor-app/.env.example
  apps/monitor-app/package.json
  apps/monitor-app/src/app/api/chat/[projectId]/route.ts
  apps/monitor-app/src/app/server/lib/agent/agent-clickhouse-client.ts
  apps/monitor-app/src/app/server/lib/agent/agent.ts
  apps/monitor-app/src/app/server/lib/agent/tools/execute-clickhouse.ts
  apps/monitor-app/src/app/server/lib/agent/utils/system-prompt.ts
  apps/monitor-app/src/env.ts
  pnpm-lock.yaml
Due: format, lint

fix: fix test flakyness
  apps/monitor-app/src/test/anomaly-detection.test.ts
Due: format, lint

feat: improve system prompt and clickhouse tool
  apps/monitor-app/src/app/server/lib/agent/tools/execute-clickhouse.ts
  apps/monitor-app/src/app/server/lib/agent/utils/system-prompt.ts
Due: format, lint

feat: add variables in env ci
  apps/monitor-app/.env.ci
Due: none

fix: make ai configuration optional
  apps/monitor-app/src/app/api/chat/[projectId]/route.ts
  apps/monitor-app/src/app/server/lib/agent/agent.ts
  apps/monitor-app/src/env.ts
Due: format, lint

feat: change preview value
  apps/monitor-app/src/app/server/lib/agent/tools/execute-clickhouse.ts
  apps/monitor-app/src/app/server/lib/agent/utils/system-prompt.ts
Due: format, lint

feat: move agent clickhouse client to utils directory
  apps/monitor-app/src/app/server/lib/agent/tools/execute-clickhouse.ts
  apps/monitor-app/src/app/server/lib/agent/utils/agent-clickhouse-client.ts
Due: format, lint

feat: add anomaly checker worker
  ARCHITECTURE.md
  apps/anomaly-worker/.env
  apps/anomaly-worker/.env.example
  apps/anomaly-worker/package.json
  apps/anomaly-worker/src/env.ts
  apps/anomaly-worker/src/index.ts
  apps/anomaly-worker/tsconfig.json
  apps/monitor-app/.env.example
  apps/monitor-app/.env.test
  apps/monitor-app/AI_AGENT_GUIDE.md
  apps/monitor-app/clickhouse/catalog.yml
  apps/monitor-app/package.json
  apps/monitor-app/src/app/server/domain/ai-bridge/__tests__/ai-bridge-service.integration.test.ts
  apps/monitor-app/src/app/server/domain/ai-bridge/service.ts
  apps/monitor-app/src/app/server/domain/notifications/__tests__/notifications-service.integration.test.ts
  apps/monitor-app/src/app/server/domain/notifications/dispatcher.ts
  apps/monitor-app/src/app/server/domain/notifications/service.ts
  apps/monitor-app/src/app/server/domain/notifications/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/client.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/anomalies-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/anomalies-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/processed-anomalies-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/projects-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/schema.ts
  apps/monitor-app/src/test/anomaly-detection.integration.test.ts
  apps/monitor-app/src/test/clickhouse-test-utils.ts
  apps/monitor-app/src/test/global-setup.ts
  apps/monitor-app/vitest.anomaly.config.ts
  apps/monitor-app/vitest.integration.config.ts
  apps/monitor-app/vitest.integration.setup.ts
  docker/anomaly-worker.Dockerfile
  docker/docker-compose.build.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  pnpm-lock.yaml
  setup.sh
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md,mjs}
  lint: any of: *.{js,jsx,ts,tsx}
