Repository Blazity/next-cwv-monitor: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,md,mjs}"
      run: pnpm -r run --no-bail format:check
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm -r run --no-bail lint

pre-push:
  commands:
    type-check:
      run: pnpm -r run --no-bail type-check

chore: add performance guardrails test for monitor app (#95)
  .github/workflows/check.yml
  apps/monitor-app/eslint.config.mjs
  apps/monitor-app/package.json
  apps/monitor-app/src/test/performance-guardrails.test.ts
  apps/monitor-app/vitest.performance.config.ts
Due: format, lint

refactor: replace granularity with interval in dashboard components
  apps/monitor-app/package.json
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/lib/search-params.ts
  pnpm-lock.yaml
Due: format, lint

fix: formatting of SQL queries in dashboard overview service
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
Due: format, lint

refactor: update time range handling in dashboard overview
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
Due: format, lint

chore: add changeset
  apps/monitor-app/.changeset/README.md
  apps/monitor-app/.changeset/add-hourly-granularity-view.md
  apps/monitor-app/.changeset/config.json
Due: format

chore: remove outdated changeset files
  .changeset/add-hourly-interval-view.md
  apps/monitor-app/.changeset/README.md
  apps/monitor-app/.changeset/add-hourly-granularity-view.md
  apps/monitor-app/.changeset/config.json
Due: format

chore: add changeset
  .changeset/fix-contrast-in-metrics-tooltip.md
Due: format

fix: timezone mismatch
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/lib/utc-date.ts
Due: format, lint

fix: typo
  apps/monitor-app/src/components/dashboard/data-refresh-control.tsx
Due: format, lint

fix: fix text contrast in metrics tooltip (#90)
  .changeset/fix-contrast-in-metrics-tooltip.md
  apps/monitor-app/src/components/dashboard/metric-selector.tsx
Due: format, lint

fix: coderabbit suggestions
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/lib/utc-date.ts
Due: format, lint

feat: enhance caching mechanism for dashboard overview
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/lib/cache.ts
Due: format, lint

feat: add interval selection and 24h time range (#89)
  .changeset/add-hourly-interval-view.md
  apps/monitor-app/package.json
  apps/monitor-app/scripts/seed-demo-data.mjs
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/lib/cache.ts
  apps/monitor-app/src/lib/search-params.ts
  apps/monitor-app/src/lib/utc-date.ts
  apps/monitor-app/src/lib/utils.ts
  pnpm-lock.yaml
Due: format, lint

feat: add changeset
  .changeset/update-data-refresh-control-design.md
Due: format

feat: update auto-refresh ui (#99)
  .changeset/update-data-refresh-control-design.md
  apps/monitor-app/src/components/dashboard/data-refresh-control.tsx
Due: format, lint

fix: changeset project name
  .changeset/update-data-refresh-control-design.md
Due: format

fix: changeset project name (#104)
  .changeset/update-data-refresh-control-design.md
Due: format

feat: move users link to user actions
  .changeset/move-users-link-to-user-actions.md
  apps/monitor-app/src/components/dashboard/mobile-sheet.tsx
  apps/monitor-app/src/components/dashboard/navbar.tsx
  apps/monitor-app/src/components/dashboard/user-actions-mobile.tsx
Due: format, lint

fix: build
  apps/monitor-app/src/components/dashboard/navbar.tsx
Due: format, lint

feat: update SessionData import to use auth-client module in user actions and dropdown components
  apps/monitor-app/src/components/dashboard/user-actions-mobile.tsx
  apps/monitor-app/src/components/dashboard/user-dropdown.tsx
Due: format, lint

feat: enhance dashboard with granularity support and time range adjustments
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
Due: format, lint

feat: refine metrics as search param
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/components/dashboard/metric-selector.tsx
  apps/monitor-app/src/components/dashboard/quick-stats.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/components/dashboard/worst-routes-by-metric.tsx
  apps/monitor-app/src/components/events/analytics-tab.tsx
  apps/monitor-app/src/lib/cache.ts
  apps/monitor-app/src/lib/search-params.ts
  apps/monitor-app/src/stories/dashboard/quick-stats.stories.ts
Due: format, lint

fix: fix tests, remove unused files
  apps/monitor-app/src/app/server/actions/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/components/events/analytics-chart.tsx
  apps/monitor-app/src/lib/time-range.ts
Due: format, lint

fix: fix chart tooltip, events selector
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/routes/[route]/_components/route-detail-view.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/events/analytics-select-event.tsx
  apps/monitor-app/src/components/events/analytics-tab.tsx
Due: format, lint

fix: fix perf test, fix pointed errors
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/components/events/analytics-select-event.tsx
  apps/monitor-app/src/components/events/analytics-tab.tsx
  apps/monitor-app/src/test/performance-guardrails.test.ts
Due: format, lint

fix: fix focus in metric selector
  apps/monitor-app/src/components/dashboard/metric-selector.tsx
Due: format, lint

fix: remove domain overflow in projects
  apps/monitor-app/src/components/projects/projects-list.tsx
Due: format, lint

feat: add changeset
  .changeset/fix-project-card-text-overflow.md
Due: format

CWV-96 fix: island data points not shown on chart, time discrepancies
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-regressions-repository.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/events/analytics-tab.tsx
  apps/monitor-app/src/lib/utils.ts
Due: format, lint

feat: add toast message on subscribe
  apps/client-app/package.json
  apps/client-app/src/app/blog/[slug]/page.tsx
  apps/client-app/src/app/blog/page.tsx
  apps/client-app/src/app/layout.tsx
  apps/client-app/src/app/page.tsx
  apps/client-app/src/components/app-router/subscribe-button.tsx
  apps/client-app/src/components/pages-router/subscribe-button.tsx
  apps/client-app/src/pages/_app.tsx
  apps/client-app/src/pages/pages-router/blog/[slug].tsx
  apps/client-app/src/pages/pages-router/blog/index.tsx
  apps/client-app/src/pages/pages-router/index.tsx
  pnpm-lock.yaml
Due: format, lint

CWV-100 fix: filter most active event by device type, fix tests
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/__tests__/dashboard-overview-service.integration.test.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-routes-repository.ts
  apps/monitor-app/src/components/events/analytics-tab.tsx
Due: format, lint

fix: ci fail
  .github/workflows/check.yml
Due: none

fix: apply suggestions
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/daily-aggregates-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/metric-selector.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
Due: format, lint

feat: add chart scaling on time area draw
  .vscode/settings.json
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/events/page.tsx
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/events/types.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/lib/search-params.ts
  apps/monitor-app/src/lib/utils.ts
Due: format, lint

fix: implement coderabbit suggestions
  apps/monitor-app/src/app/(protected)/(dashboard)/projects/[projectId]/page.tsx
  apps/monitor-app/src/app/server/domain/dashboard/events/mappers.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/service.ts
  apps/monitor-app/src/app/server/domain/dashboard/overview/types.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/__tests__/custom-events-repository.integration.test.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/custom-events-repository.ts
  apps/monitor-app/src/app/server/lib/clickhouse/repositories/dashboard-overview-repository.ts
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/lib/cache.ts
  apps/monitor-app/src/lib/utils.ts
Due: format, lint

feat: add changeset
  .changeset/add-toast-message-on-subscribe.md
Due: format

feat: simplify auto-refresh countdown formatting
  .changeset/change-auto-refresh-formatting.md
  apps/monitor-app/src/lib/format-countdown.ts
Due: format, lint

feat: add incomplete data indicator to charts
  .changeset/display-incomplete-data-indicator.md
  apps/monitor-app/src/components/dashboard/time-series-chart.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
  apps/monitor-app/src/components/events/analytics-chart.tsx
Due: format, lint

refator: turn interval switch to object
  apps/monitor-app/src/components/dashboard/time-range-selector.tsx
  apps/monitor-app/src/components/dashboard/trend-chart-by-metric.tsx
Due: format, lint
